.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    background-color: white;
    overflow: hidden;
}
.content-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-menu{
    border-radius: 50% 50%;
    background-color: #D9D9D9;
    width: 8px;
    height: 8px;
    margin: 10px;
}
.content-image{
    
}
.content-image-right{
    display: flex;
    justify-content: end;
    width: 20%;
}
.image-menu-right{
    transform: scaleX(-1) translateY(76px) translateX(-35%);
    height: 296px;
    width: auto;

}
.toolbar-dos{
    display: flex;
    background-color: white;
    padding: 10px;
   
    overflow: hidden;
    animation-duration: 1.5s;
    animation-name: lanzamiento;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes lanzamiento{
    
    to{
        height:235px
    }
}

.toolbar-dos.hide{
    animation-duration: .5s;
    animation-name: hide-toolbar;
    animation-fill-mode: forwards;
}
@keyframes hide-toolbar {
    to{
        height: 50px;
    }
}

.toolbar-dentro.hide{
    animation-duration: .5s;
    animation-name: hide-toolbar-content;
    animation-fill-mode: forwards;
}
@keyframes hide-toolbar-content {
    to{
        background-color: #e4f0fa00;
    }
}




.toolbar-dentro{
    height: 215px; 
    display: flex;
    flex-direction: row;
    background: #E4F0FA; 
    width: 100%;
    border-radius: 12px;
    align-items: center;
    overflow: hidden;
}


.red{
    background-color: red!important;
}





.dos{
    overflow: hidden;
    flex-grow: 1;
}
.content-menu{
    display: flex;
    align-items: start;
    width: 80%;
    height: 100%;
    justify-content: start;
    flex-direction: column;
    padding: 14px;
}
.content-menu-firts{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    padding: 14px;
}
.content-image-right-uno{
    display: flex;
    justify-content: end;
    width: 20%;
    height: 100%;
}
.image-menu-right-uno{
    height: 300%;
    width: auto;
    transform: scaleX(-1) rotateZ(38deg) translateX(-50%) translateY(-17%);
}
.option-menu{
    
}
.content-menu-ratio{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.mat-mdc-list-item-title {
    padding-left: 12px;
}
.mat-mdc-list-item-title:hover {
    
    
}


.mat-mdc-list-item{
    transition: background-color 1.5s ease;
    border-radius: 8px;
}
.mat-mdc-list-item:hover{
    background-color: #D3DFE0;
    color: white;
    font-weight: bold;
}



.content-info{
    width: 40%;
    height: 100%;
    white-space: initial;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}
.title-info{
   font-size: 24pt;

}


