.parent{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50% 50%;
    width: 75px;
    height: 75px;
    background-color: #8ED5DE;
    transform: translateX(45%) translateY(45%);
}
.parent-message{
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #E7E7E7;
}
.message-content{
  width: 100%;
  display: flex;
}
.perfil{
    padding: 14px;
    height: 100px;
    box-sizing: border-box;
}
#carduser{
   width: 100%;
   height: 100%;
   border-radius: 4px;
   background-color: #E4F0FA;
   display: flex;
}
.content-profile-img{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
}
#img-profile{
    height: 100%;
}



.list{
   flex-grow: 1;
   padding: 14px;
   box-sizing: border-box;
}



.message-scroll{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;

}
.message-rect{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    box-sizing: border-box;
    padding: 8px;
}
.message-name{
    font-weight: lighter;
    font-style: italic;
    font-size: 8pt;
}
.message-date{
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}
.message-data{
    padding-top: 8px;
}


.message-accepted{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
#imgaccepted{
  width: 200px;
  margin-bottom: 12px;
}
.message-description{
   font-weight:lighter;
   font-size: small;
}
.message-description-down{
   font-weight: bold;
}

.send{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .message-content{
    padding: 8px;
    box-sizing: border-box;
}
 .mesage-send{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    position: relative;
 }

.input-message{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px #EEEEEE solid;
    padding-left: 8px;
    padding-right: 36px;
}
.content-img-message{
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #E4F0FA;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-message{
    width: 16px;
    height: auto;
}
