<app-toolbar [optionSelect]="optionMenu"></app-toolbar>
<div>
    <div class="content-principal">
        <div class="home left">
            <div class="home-content-info">
                <div class="info-home">
                    <p>Bienvenido&nbsp;
                    <br>Mi nombre es <b>Gerson</b></p>
                </div>
                <div class="stack">
                    FULLSTACK
                </div>
            </div>
            <div class="content-chat-principal">
                <div class="chat">
                    <input type="text" placeholder="Escribe un mensaje" class="text-chat">
                    <div class="button-chat">
                        <div class="cente-chat-img">
                            <img class="img-chat" src="assets/icons/send-fill.svg">
                        </div>
                    </div>
                </div>
                <p class="chat-description">Escribe un mensaje, reciviré una notificación para poder <b>chatear en tiempo real</b> contigo </p>
            </div>
        </div>
        <div class="home right">
    
        </div>
    </div>
</div>