.content-principal{
    display: flex;
    width: 100%;
    height: 100%;
   
}
.home{
   
    display: flex;
    align-items: start;
    justify-content:start;
    justify-items: start;
    flex-direction: column;
}
.left{
    min-width: 50%;
    padding: 64px;
}
.right{
    display: flex;
    align-items: start;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.home-content-info{
    width: 100%;
    height: 60%;
    font-size: 30pt;
    margin-bottom: 64px;
}
.content-welcome{
    margin: 0;
    margin-bottom: 8px;
    font-size: 20pt;
}
.info-home{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 30px;
    line-height: 44px;
}
.stack{
    background-color: #AAEDE5;
    border-radius: 8px;
    font-weight: bold;
    display: initial;
}


.content-chat-principal{
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
}
.text-chat{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding-left: 14px;
  
}
.text-chat::placeholder{
  
}
.chat{
    height: 40px;
    width: 100%;
    border: 1px #EEEEEE solid;
    margin-bottom: 8px;
    position: relative;
    display: flex;
}
.chat-description{
    font-weight: lighter;
    font-size: 12pt;
    text-align: center;
}
.button-chat{
    position: absolute;
    display: flex;
    margin: auto;
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;

}
.cente-chat-img{
    border-radius: 50% 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-25deg);
}
.img-chat{
   
}
.content-svg{
    overflow: hidden;
    width: 500px;
    height: 307px;
  
}
.svg-map{
    transform: translateX(-776px) scale(0.3) translateY(-876px)
}
.center-content-svg{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.content-info-map{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}
.rect{
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
.info-map-rect-left{
    background-color: red;
    display: flex;

}
.info-map-rect-right{
    background-color: blue;
}
.content-info-map-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
path:hover{
    fill: #c9c9c9;
    position: relative;
} 
path:hover::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
}

.info-movil{
    position: absolute;
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    padding: 12px;
    visibility: hidden;
}
.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}