.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.content-principal{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home{
    display: flex;
    align-items: start;
    justify-content:start;
    justify-items: start;
    flex-direction: column;
}
.left{
    min-width: 50%;
    padding: 0px 64px 0px 64px;
}
.right{
    display: flex;
    align-items: start;
    padding-top: 48px;
    justify-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.home-content-info{
    width: 100%;
    font-size: 30pt;
    margin-top: 48px;
}
.content-welcome{
    margin: 0;
    margin-bottom: 8px;
    font-size: 20pt;
}
.info-home{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 30px;
    line-height: 44px;
}
.stack{
    background-color: #AAEDE5;
    border-radius: 8px;
    font-weight: bold;
    display: initial;
}


.content-chat-principal{
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin-top: 64px;
}
.text-chat{
    flex-grow: 1;
    height: 100%;
    border: 0;
    margin: 0;
    padding-left: 14px;
    border: 1px #EEEEEE solid;
  
}
.text-chat-name{
    
}
.text-chat::placeholder{
  
}
.content-message-input{
    min-width: 100%;
}
.chat{
    height: 40px;
    width: 100%;
   
    margin-bottom: 8px;
    position: relative;
    display: flex;
}
.chat-description{
    font-weight: lighter;
    font-size: 12pt;
    text-align: center;
}
.button-chat{
    position: absolute;
    display: flex;
    margin: auto;
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    margin: 2px;

}
.cente-chat-img:hover{
    
    background-color: #BEC8D0;
}
.cente-chat-img{
   transition: all .3s;
   border-radius: 50% 50%;
    
    width: 34px;
    height: 34px;
    max-width: 34px;
    max-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-25deg);
}
.img-chat{
   
}
.content-svg{
    overflow: hidden;
    width: 500px;
    height: 307px;
  
}
.svg-map{
    transform: translateX(-776px) scale(0.3) translateY(-876px)
}
.center-content-svg{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.content-info-map{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}
.rect{
    width: 10px;
    height: 10px;
    margin-right: 8px;
}
.info-map-rect-left{
    background-color: red;
    display: flex;

}
.info-map-rect-right{
    background-color: blue;
}
.content-info-map-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
path:hover{
    fill: #c9c9c9;
    position: relative;
} 
path:hover::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
}

.info-movil{
    position: absolute;
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    padding: 12px;
    visibility: hidden;
}
.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}


/*clases chat*/
.text-chat-name{
    border: 1px #EEEEEE solid;
    width: 100%;
    height: 100%;
   
}

.text-chat-name::after {
    content: "Hola";
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
  }
.text-chat-name::before{
    content: "Name";
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    left: 0px;
    width: 50px;
    height: 50px;
}
.active-chat-name{
    
}

.content-inpt-name{
    width: 0%;
    height: 0%;
    position: relative;
    margin-right: 0px;
}
.content-inpt-active{
    width: 20%;
    height: 100%;
    padding-right: 8px;
    transition: width 0.5s;
}

.invalite-email{
    background-color: rgb(255, 182, 182);
}

.content-msg-ok{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    margin-top: 64px;
}


/*Styles generals*/
.priority-higth{
    border-radius: 8px;
    background-color: #AAEDE5;
    display: initial;
    font-weight: bold;
}

.text-msg-ok{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 24px
}

/*sprites*/
.sprite-msg-ok{
    max-width: 230px;
    overflow: hidden;
    display: flex;
}
#imgSend{
  animation: imgsendmove 0.8s steps(2) infinite;
}
@keyframes imgsendmove{
    to{
        transform: translateX(-100%);
    }
}